
/* Your CSS Code here. */
div {
    width: 300px;
    background-color: lightblue;
    border: 15px solid blue;
    padding: 50px;
    margin: 20px;
}

div p {
            margin: 0; /* Remove default margin */
            font-size: 16px; /* Set font size */
            text-align: center; /* Center align the text */
        }